<!DOCTYPE html>
<html ng-app="limerickApp">

<head>
    <meta charset="utf-8">
    <title>Limerick Generator</title>
    <link rel="stylesheet" href="src/style/main.css">
</head>

<body ng-controller="limerickController as ctrl">

    <div id="main-container">
      <div class="flex-container">

        <div class="tile show" id="tile0">
          <h1>Limerick Generator</h1>
          <button type="button" ng-click="ctrl.slide(0, 1)">Build a Limerick</button>

        </div>

        <div class="tile" id="tile1">
            <label for="person">Please choose your actor</label>
            <select name="person" ng-model="ctrl.person">
          <option value="woman">woman</option>
          <option value="man">man</option>
          <option value="dog">dog</option>
          <option value="emu">emu</option>
        </select>
        <button type="button" ng-click="ctrl.slide(1, 2); ctrl.getArticle(ctrl.person)">Continue</button>
        <button type="button" ng-click="ctrl.slide(1, 0)">Back</button>

        </div>

        <div class="tile" id="tile2">
            <label for="location">Please enter a location</label>
            <input name="location" type="text" ng-model="ctrl.noun1"></input>
            <button type="button" ng-click="ctrl.slide(2, 3)">Continue</button>
            <button type="button" ng-click="ctrl.slide(2, 1)">Back</button>

        </div>

        <div class="tile" id="tile3">
            <label for="verb">Please enter a past-tense verb (ate, caught, saw)</label>
            <input type="text" name="verb" ng-model="ctrl.verb1">
            <button type="button" ng-click="ctrl.slide(3, 4)">Continue</button>
            <button type="button" ng-click="ctrl.slide(3, 2)">Back</button>
        </div>

        <div class="tile" id="tile4">
            <label for="adjective">Please enter an adjective (slimy, gray, naeuseating)</label>
            <input type="text" name="adjective" ng-model="ctrl.adjective">
            <button type="button" ng-click="ctrl.slide(4, 5)">Continue</button>
            <button type="button" ng-click="ctrl.slide(4, 3)">Back</button>
        </div>

        <div class="tile" id="tile5">
            <label for="verb2">Please enter another past-tense verb</label>
            <input type="text" name="verb2" ng-model="ctrl.verb2">
            <button type="button" ng-click="ctrl.slide(5,6)">Continue</button>
            <button type="button" ng-click="ctrl.slide(5, 4)">Back</button>
        </div>

        <div class="tile" id="tile6">
            <label for="noun">Please enter a noun</label>
            <input type="text" name="noun" ng-model="ctrl.noun2">
            <button type="button" ng-click="ctrl.slide(6, 7); ctrl.getNounRhyme(ctrl.noun2)">Continue</button>
            <button type="button" ng-click="ctrl.slide(6, 5)">Back</button>
        </div>

        <div class="tile" id="tile7">
            <button ng-click="ctrl.findRhyme1(ctrl.noun1); ctrl.findRhyme2(ctrl.noun2)">Submit</button>
            <p ng-cloak ng-show="ctrl.show">There once was a {{ctrl.person}} from {{ctrl.noun1}}<br> Who {{ctrl.verb1}} a {{ctrl.adjective}} {{ctrl.rhyme1}}.<br> {{ctrl.article}} {{ctrl.verb2}} a {{ctrl.noun2}}<br> and sat on a {{ctrl.rhyme2}}<br>and thus ends this tale about {{ctrl.rhyme3}}s
            </p>
            <button type="button" ng-click="ctrl.slide(7, 6)">Back</button>
            <button type="button" ng-click="ctrl.slide(7, 0)">Start Over</button>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="src/js/angular.js"></script>
    <script type="text/javascript" src="src/js/angular-ui-router.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="src/js/services/RequestService.js"></script>
</body>

</html>
