$font: 'Rubik', sans-serif;
$periwinkle: #83a4d4;
$sky: #b6fbff;

body {
  margin: 0;
}

#main-container {
  position: absolute;
  left: 0px;
  width: 100vw;
  transition: all .25s ease-in-out;
  font-family: $font;
  background: linear-gradient(to right, $periwinkle, $sky);

  .flex-container {
    display: flex;
  }
}

.tile {
  display: none;
  flex-direction: column;
}

.hide {
  display: none;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: all .5s ease-in-out;
}

.btn-container {
  display: flex;
  margin-top: 50px;
  width: 50%;
  justify-content: center;
}

.question-container {
  display: flex;
  justify-content: center;

  label {
    font-size: 1.5em;
  }

  input {
    margin-left: 15px;
    font-size: 1.5em;
  }

  select {
    margin-left: 15px;
    font-size: 1.5em;
  }
}

button {
  margin-left: 15px;
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 15px;
  padding: 15px;
  position: relative;
  text-transform: uppercase;


  &:hover {
    color: $periwinkle;
    cursor: pointer;
  }
}

.limerick-container {
   border: 1px dashed #ddd;
   box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;

  .limerick {
    text-align: center;
    font-size: 14px;
  }
}
