$font: 'Rubik', sans-serif;

#main-container {
  position: absolute;
  left: 0px;
  width: 100vw;
  transition: all .25s ease-in-out;
  font-family: $font;

  .flex-container {
    display: flex;
  }
}

.tile {
  display: none;
  flex-direction: column;
}

.hide {
  display: none;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: all .5s ease-in-out;
}

.btn-container {
  display: flex;
  margin-top: 50px;
  width: 50%;
  justify-content: center;

  button {
    margin-left: 15px;
  }
}

.question-container {
  display: flex;
  width: 50%;
  justify-content: center;

  input {
    margin-left: 15px;
  }

  select {
    margin-left: 15px;
  }
}
