#main-container {
  position: absolute;
  left: 0px;
  width: 700vw;
  transition: all .25s ease-in-out;

  .flex-container {
    display: flex;
  }
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.focus {
  display: none;
}

#tile0 {
  flex-direction: column;
}

.tile1 {
  background: red;
}

.tile2 {
  background: orange;
}

.tile3 {
  background: yellow;
}

.tile4 {
  background: green;
}

.tile5 {
  background: cyan;
}

.tile6 {
  background: navy;
}

.tile7 {
  background: indigo;
}
