#main-container {
  position: absolute;
  left: 0px;
  width: 100vw;
  transition: all .25s ease-in-out;

  .flex-container {
    display: flex;
  }
}

.tile {
  display: none;
}

.hide {
  display: none;
}

.show {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: all .5s ease-in-out;
}

#tile0 {
  flex-direction: column;
}
